Please run the cell below to ensure that the rest of the report goes as expected!

In [1]:
library(tidyverse)
library(repr)
library(ggplot2)
library(RColorBrewer)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

---

# From Sessions to Predictions: Modeling Engagement with KNN Regression

---

## Introduction

From the title you're probably wondering, what are 'sessions,' what is being predicted, and most likely what even is the term 'KNN Regression.' Well no need to worry! Our project stems from a UBC Computer Science study called **PLAIcraft** with the goal and I quote, "PLAICraft is a research data collection project with the aim of enabling advanced embodied AI research." - PLAIcraft Frequently Asked Questions. They have tasked us with helping them out by answering a few questions for them based on two anonymised datasets regarding player data, and individual play session data. This leads to the question which we attempted to answer for them!

### Our Question

**Can we predict the number of future sessions a player will engage in based on their initial session characteristics and player information?**

To simplify that down more, what our goal was for this data analysis was to utilize a players specific data, as well as the session data for only their very first session to determine if they will return for subsequent sessions, and if they do, how many?

### The Dataset

Now for the bread and butter, well perhaps the dataset is the bread and the data analysis that comes later is the butter, who knows. Through this brief section we will load the data and talk about it and most importantly help you to understand what all of it means before we get into the next section which is where the real fun begins.

In [2]:
players <- read_csv("data/players.csv")
sessions <- read_csv("data/sessions.csv")

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
head(players)

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender age individualId organizationName
1 Morgan    Male    9  NA           NA
2 Christian Male   17  NA           NA
3 Blake     Male   17  NA           NA
4 Flora     Female 21  NA           NA
5 Kylie     Male   21  NA           NA
6 Adrian    Female 17  NA           NA

Alright, so what we've done is loaded both datasets and then directly above this is a sneak-peek at the player information dataset! A lot of the data here is pretty obvious such as **name**, **gender**, and **age**. The other columns of data represent somewhat less obvious data such as the **experience** column denoting the players self-identified minecraft skill level which they can choose as Pro, Amateur, Regular, and more. To the right of that is the **subscribe** which shows whether or not they enrolled in the email list of the study. Look right once more and we see the **hashedEmail** column which is an anonymised encoding of each users email (this comes in handy later on), and finally is the **played_hours** data which represents each users *total* hours played on the server. As we are not cleaning up the data yet, the individualId and organizationName columns are still visible but they contain no data so when we move on later we will take care of that.

In [4]:
head(sessions)

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

Now we're looking at the combined players sessions dataset which includes session data for the sessions of all the players in the study. Again, this is only a sneak-peek into it, when in reality it has over three thousand rows. We still see **hashedEmail** in this dataset, but the rest of the variables are different! The **start_time** and **end_time** columns represent the corresponding date and time in which each play-session was initiated and terminated. The **original_start_time** and **original_end_time** columns are a bit more complicated, but they are just the UNIX timestamp versions of the other start and end time columns, so don't worry about them!

---

## Methods and Results

### Data Wrangling

As mentioned in the introductory section, we noted some issues with the current data such as the **individualId** and **organizationName** columns not being populated with any data, and the **original_start_time** and **original_end_time** columns being rendered redundant by the existence of the much easier to work with **start_time** and **end_time** columns.

To fix these and make our data *tidy*, we will modify the current dataframes to do so by selecting which columns we would like to exclude by using subset and select! - starting with the players **players** dataframe:

In [5]:
players <- subset(players, select = -c(individualId, organizationName))
head(players)

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

That's looking much tidier already! Let's do the **sessions** dataframe next:

In [6]:
sessions <- subset(sessions, select = -c(original_start_time, original_end_time))
head(sessions)

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time
1 30/06/2024 18:12 30/06/2024 18:24
2 17/06/2024 23:33 17/06/2024 23:46
3 25/07/2024 17:34 25/07/2024 17:57
4 25/07/2024 03:22 25/07/2024 03:58
5 25/05/2024 16:01 25/05/2024 16:12
6 23/06/2024 15:08 23/06/2024 17:10

There's one sneaky thing that may trip us up later if not fixed. We can see that the **start_time** and **end_time** columns are of type *chr (character)* which may make working with them a bit tedious. To resolve this we will employ the **asPOSIXct** function from the base R library to convert them to the type *dttm (date time month)* which will make them far easier to use.

In [7]:
sessions <- mutate(sessions, start_time = as.POSIXct(start_time, format="%d/%m/%Y %H:%M", tz="PST"),
         end_time = as.POSIXct(end_time, format="%d/%m/%Y %H:%M", tz="PST"))

head(sessions)

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time          end_time
1 2024-06-30 18:12:00 2024-06-30 18:24:00
2 2024-06-17 23:33:00 2024-06-17 23:46:00
3 2024-07-25 17:34:00 2024-07-25 17:57:00
4 2024-07-25 03:22:00 2024-07-25 03:58:00
5 2024-05-25 16:01:00 2024-05-25 16:12:00
6 2024-06-23 15:08:00 2024-06-23 17:10:00

Now we can use those columns to do something that will be very important to our analysis which is computing the duration of the sessions (difference between start_time and end_time in minutes)!

In [8]:
sessions <- mutate(sessions, session_duration = as.numeric(difftime(end_time, start_time, units = "mins")))

head(sessions)

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time          end_time            session_duration
1 2024-06-30 18:12:00 2024-06-30 18:24:00  12
2 2024-06-17 23:33:00 2024-06-17 23:46:00  13
3 2024-07-25 17:34:00 2024-07-25 17:57:00  23
4 2024-07-25 03:22:00 2024-07-25 03:58:00  36
5 2024-05-25 16:01:00 2024-05-25 16:12:00  11
6 2024-06-23 15:08:00 2024-06-23 17:10:00 122

Both of our dataframes look very tidy now, although working with two separate dataframes may overcomplicate our analysis and code both for us to work with and for you to understand. While we are doing that, we will also manipulate the data to introduce two new columns of further useful metrics regarding our analysis. Since we're basing our predictions off of every players first session, we really want to know their first session length: **first_session_duration** and how many sessions they return to play after that one: **future_sessions_played**.

In [12]:
player_session_combined <- players |> inner_join(sessions, by = "hashedEmail")

player_session_finalized <- player_session_combined |>
  group_by(hashedEmail) |>
  mutate(first_session_duration = first(session_duration),
         future_sessions_count = n() - 1) |>
  ungroup()

head(player_session_finalized)

  experience subscribe
1 Pro        TRUE
2 Pro        TRUE
3 Pro        TRUE
4 Pro        TRUE
5 Pro        TRUE
6 Pro        TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
3 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
4 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
5 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
6 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
  name   gender age start_time          end_time            session_duration
1 Morgan Male   9   2024-08-08 00:21:00 2024-08-08 01:35:00 74
2 Morgan Male   9   2024-09-09 22:30:00 2024-09-09 22:37:00  7
3 Morgan Male   9   2024-08-08 02:41:00 2024-08-08 03:25:00 44
4 Morgan Male   9   2024-09-10 15:07:00 2024-09-10 15:29:00 22
5 Morgan Male   9   2024-05-05 22:21:00 2024-05-05 23:17:00 56
6 Morgan Male   9   2024-04-06 22:24:00 2024-04-06 23:33:00 69
  first_session_duration future_sessions_count
1 74                     26
2 74                     26
3 74                     26
4 74                     26
5 74                     26
6 74                     26

  experience subscribe
1 Amateur    FALSE
2 Amateur    FALSE
3 Amateur    FALSE
4 Amateur    FALSE
5 Amateur    FALSE
6 Pro         TRUE
  hashedEmail                                                      played_hours
1 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
2 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
3 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
4 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
5 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436 2.3
6 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11 0.2
  name   gender age start_time          end_time            session_duration
1 Harlow Male   17  2024-09-08 20:04:00 2024-09-08 22:02:00 118
2 Harlow Male   17  2024-08-23 21:59:00 2024-08-23 22:06:00   7
3 Harlow Male   17  2024-09-09 02:17:00 2024-09-09 02:45:00  28
4 Harlow Male   17  2024-08-23 21:39:00 2024-08-23 21:53:00  14
5 Harlow Male   17  2024-09-08 19:40:00 2024-09-08 19:45:00   5
6 Ahmed  Other  91  2024-05-08 19:29:00 2024-05-08 19:44:00  15
  first_session_duration future_sessions_count
1  7                     5
2  7                     5
3  7                     5
4  7                     5
5  7                     5
6 15                     0

One crucial thing we must do prior to moving on is to remove every row for each hashedEmail **except** the session which occurs, and while we do that we may as well remove all the other columns which will be not applicable to our analysis such as the **start_time** and **end_time** columns, as well as individual session durations, players names, and their hashed emails. This is to cut any fluff that would mess with our analysis as only certain variables will be used as predictors!

In [20]:
final_wrangled_data <- player_session_finalized |>
  group_by(hashedEmail) |>
  filter(start_time == min(start_time)) |> # Keep only the first session based on earliest start_time
  ungroup() |>
  select(age, gender, subscribe, experience, first_session_duration, future_sessions_count)                     

final_wrangled_data

    age gender            subscribe experience first_session_duration
1    9  Male               TRUE     Pro         74
2   17  Male               TRUE     Veteran     12
3   17  Male              FALSE     Veteran      5
4   21  Female             TRUE     Amateur     50
5   21  Male               TRUE     Regular      9
6   21  Male              FALSE     Amateur      5
7   17  Male               TRUE     Amateur     13
8   23  Female             TRUE     Veteran     18
9   25  Female             TRUE     Beginner   101
10  22  Male               TRUE     Amateur     12
11  17  Female             TRUE     Amateur     23
12  17  Male               TRUE     Amateur     12
13  19  Male               TRUE     Regular     35
14   8  Male               TRUE     Regular     25
15  17  Female            FALSE     Amateur     12
16  17  Male               TRUE     Beginner    70
17  21  Female             TRUE     Amateur     50
18  28  Female             TRUE     Regular     43
19  23  Male               TRUE     Amateur    121
20  18  Male              FALSE     Veteran     10
21  23  Male               TRUE     Amateur      8
22  21  Male               TRUE     Veteran     13
23  26  Male               TRUE     Beginner    29
24  20  Male               TRUE     Veteran      4
25  25  Prefer not to say FALSE     Veteran     11
26  17  Male               TRUE     Amateur      4
27  17  Male               TRUE     Regular     37
28  17  Non-binary         TRUE     Veteran     11
29  24  Male               TRUE     Amateur     24
30  24  Male               TRUE     Veteran    147
⋮   ⋮   ⋮                 ⋮         ⋮          ⋮
96  17  Male               TRUE     Beginner    11
97  17  Non-binary         TRUE     Amateur     28
98  23  Male               TRUE     Amateur     14
99  99  Two-Spirited       TRUE     Regular      8
100 19  Female             TRUE     Regular     17
101 19  Male               TRUE     Pro         27
102 20  Female             TRUE     Regular     32
103 21  Male               TRUE     Regular      9
104 26  Male              FALSE     Amateur     16
105 17  Female            FALSE     Beginner     5
106 17  Male               TRUE     Veteran     11
107 17  Male              FALSE     Veteran     11
108 21  Male              FALSE     Pro         30
109 32  Male              FALSE     Beginner   116
110 50  Male              FALSE     Regular      5
111 17  Male               TRUE     Amateur     NA
112 21  Non-binary        FALSE     Veteran     46
113 17  Two-Spirited       TRUE     Amateur     33
114 17  Non-binary         TRUE     Veteran     11
115 24  Male              FALSE     Amateur    136
116 22  Female             TRUE     Amateur     55
117 17  Male              FALSE     Pro         19
118 22  Male               TRUE     Amateur     10
119 17  Male              FALSE     Pro        110
120 18  Male              FALSE     Regular     10
121 44  Female             TRUE     Veteran     11
122 22  Male              FALSE     Veteran     21
123 17  Prefer not to say FALSE     Amateur      5
124 17  Male              FALSE     Amateur      7
125 91  Other              TRUE     Pro         15
    future_sessions_count
1   26
2    2
3    0
4    0
5    0
6    0
7    0
8    2
9    0
10   0
11  36
12   1
13   1
14   0
15   0
16   1
17   0
18   0
19   0
20   0
21   0
22   0
23   1
24   1
25   5
26  11
27  12
28   0
29   0
30   0
⋮   ⋮
96    0
97    1
98    0
99    0
100 146
101   1
102   0
103   0
104   1
105  10
106   0
107   0
108   0
109   0
110   0
111   3
112   2
113   0
114   0
115   0
116   0
117   0
118  78
119   0
120   0
121   0
122   0
123   0
124   5
125   0

![](data/wrangled.jpg)

We agree with the cowboy on this one, that data is looking very wrangled and ready to be analyzed, so let's do it!

## D